h5{
	margin-top: 10px;
	padding-top: 10px;
}
.Header{
    color: red;
    background-color: #ffffcc;
    padding-left: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-web{
}
.Input-Container{
	float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top-width: 25px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 75px;
    background-color: #ccff99;
}
.Todo-List{
	float: right;
}
.todo-item{
	background-color: #ccffff;
	margin-top: 25px;
	padding: 5px 30px;
}
.taskInput{
	width: 293px;
}
.btn-add{
	margin-top: 10px;
	margin-left: 230px;
}
.taskDetail{
    margin-right: 10px;
}
.listOfItem{
    padding-left: 25px;
    height: 600px;
    padding-right: 20px;
    margin-top: 25px;
	background-color: #994d00;
	overflow: scroll;
}
.iron-man{
	margin-top: 15px;
}